.yao-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.yao-position {
  width: 40px;
  text-align: right;
  margin-right: 2px;
}

.yao-lines {
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.yang-line {
  width: 100%;
  height: 14px;
  background-color: black;
}

.yin-line {
  width: 45%;
  height: 14px;
  background-color: black;
}

.changing .yang-line,
.changing .yin-line {
  animation: changeColor 1.5s forwards;
}

.changed .yang-line,
.changed .yin-line {
  background-color: red;
}

@keyframes changeColor {
  0% {
    background-color: black;
  }
  100% {
    background-color: red;
  }
}

.empty {
  height: 14px;
  border: 1px dashed #ccc;
}
