.coin-toss {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  padding: 4px 0;
}

.toss-button {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
}
